/* .main {
    background-image: url(obrazy/man-2.jpg);
    background-size: 100% 100%;
    color: white;
    height: 600px;
    position: relative;
}

.main-h {
    position: absolute;
    top: 230px;
    left: 50px;
} */