body {
    margin: 0;
}

.main {
    margin: 0px;
    display: flex;
    background-image: url(obrazy/man-1.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.text {
    color: white;
    margin-left: 50px;
    align-self: center;
}

@media (min-width:992px) and (max-width:1170px) {
    .main {
        background-image: url(obrazy/man-2.jpg);
        justify-content: flex-end;
        width: 100vw;
        height: 70vh;
    }
    .text {
        margin-right: 30px;
        align-self: center;
    }
}

@media (max-width: 992px) {
    .main {
        background-image: none;
        flex-wrap: wrap;
        height: 50%;
    }
    .item {
        background-image: url(obrazy/man-1.jpg);
        background-size: cover;
        width: 100vw;
        height: 50vh;
    }
    .text {
        color: black;
        text-align: center;
        flex-grow: 1;
        justify-content: center;
    }
}