.App {
  text-align: center;
  margin-top: 150px;
  width: 60%;
  border: solid 1px rgb(10, 135, 207);
  margin: 0 auto;
  margin-top: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-main{
 /* display: flex;
 justify-content: center; */
}
h1{
  color: white;
  margin: 0;
}
.h1{
  background-color: black;
  height: 80px;
  width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.text{
  font-size: 20px;
}
.text-result{
  color: red;
  font-size: 50px;
}
button{
  margin: 15px 15px;
  width: 90px;
  height: 40px;
  background-color: rgb(10, 135, 207);
  color: white;
  border: none;
}
button:hover{
  background-color: rgb(50, 187, 187);
}
input{
  height: 40px;
  border: solid 1px rgb(10, 135, 207);
  margin-left: 10px;
  color:rgb(50, 187, 187);
  font-size: 20px;
  padding-left: 5px;
  
}
input:hover{
  border: solid 2px rgb(10, 135, 207);
}
.set-value-panel, .new-set-value-panel{
  display: flex;
  align-items: center;
  justify-content: center;
}
h3{
  color:rgb(10, 135, 207);
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
