* {
    box-sizing: border-box;
}

body {
    background-color: #f2f1ed;
    font-family: 'Open Sans', sans-serif;
}

.main-header {
    display: flex;
    background-image: url(../img/header_1.jpg);
    background-size: cover;
    height: 90vh;
    /* width: 100vw; */
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 1;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-meniu .button,
.open-firm-main .button,
.help-main .button,
.service-main .button,
.kontakt .button,
.o-mnie-paragraf .button {
    width: 100px;
    height: 40px;
    font-size: 10px;
    border: solid 1px #007bff;
    background-color: transparent;
    color: #333;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.button:hover {
    font-size: 11px;
    border: solid 1px gray;
    background-color: #007bff;
}

h1 {
    color: #007bff;
    margin-bottom: 0px;
}

span {
    color: #007bff;
}

hr {
    width: 90px;
    height: 1px;
    background-color: #007bff;
    margin-top: 3px;
    margin-bottom: 25px;
    border: 0px;
}

.main-meniu p {
    color: #333;
}

.main-nav ul {
    text-align: center;
    background-color: #007bff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.main-nav ul>li,
.main-nav a {
    list-style: none;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    text-decoration: none;
}

.main-nav a:hover{
    color: black;
}

a {
    text-decoration: none;
    text-decoration: none;
    color: #333;
}


h3 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 25px;
    font-weight: normal;
    color: #333;
}

.o-mnie-main,
.help-main {
    background-color: white;
}

.o-mnie,
.open-firm,
.help,
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-mnie-paragraf,
.open-firm-paragraf,
.help-paragraf,
.service-paragraf {
    width: 70%;
    text-align: center;
    font-size: 12px;
    color: #777;
    margin: 30px 30px 0px 30px;
}

.o-mnie-paragraf p {
    margin-top: 0px;
    margin-bottom: 10px;
}

h4 {
    margin: 0;
}


/* format zdjecia o-mnie */

[alt="o-mnie"] {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.portfolio {
    background-color: #f2f1ed;
}


/* format zdjec portfolio */

.portfolio-div {
    margin-top: 40px;
}

.container {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 25%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.container div {
    flex-basis: 25%;
}

.item {
    width: 100%;
    height: 100%;
}


/* format kontaktu */

.kontakt-main {
    background-color: white;
}

.main-contakt {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* background-color: #007bff; */
    color:#777;
}

.kontakt .name-menu {
    width: 90%;
    order: 1;
}

.kontakt .name-menu input {
    height: 40px;
    flex-basis: 50%;
    width: 49.6%;
    margin-top: 20px;
    border: solid 1px lightgrey;
    font-size: 12px;
}

.send-menu {
    width: 90%;
    order: 2;
}

.send-menu textarea {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border: solid 1px lightgrey;
    font-size: 12px;
    margin-bottom: 30px;
    padding: 0;
}

.icons {
    display: flex;
    justify-content: center;
}

div.icons>a>i {
    margin-bottom: 15px;
    color: #007bff;
    padding-left: 5px;
    padding-right: 5px;
}


/* format footer */

footer {
    background-color: #f2f1ed;
    text-align: center;
    color: rgb(158, 154, 154);
    font-size: 12px;
    margin: 15px 0;
}

@media all and (min-width: 768px) and (max-width: 992px) {
    .main-nav ul>li,
    .main-nav a {
        padding-left: 12px;
        padding-right: 12px;
    }
    .container div {
        flex-basis: 50%;
    }
    .kontakt {
        width: 82%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .main-nav ul>li,
    .main-nav a {
        padding-left: 4px;
        padding-right: 4px;
        font-size: 12px;
    }

    .container {
        width: 100%;
    }
    .container div {
        flex-basis: 100%;
    }
    .kontakt {
        width: 98%;
    }
    .kontakt .name-menu,
    .send-menu,
    .o-mnie-paragraf {
        width: 95%;
    }
    .kontakt .name-menu input {
        width: 49.5%;
    }
    .main-header {
        height: 100%;
    }
}

@media all and (max-width: 480px) {

    .main-nav ul>li,
    .main-nav a {
        padding-left: 2px;
        padding-right: 2px;
        font-size: 10px;
    }
    .kontakt {
        width: 95%;
    }
    .kontakt .name-menu input {
        width: 100%;
        margin-top: 10px;
    }
    .send-menu textarea {
        margin-top: 20px;
    }
    .container {
        width: 100%;
    }
    .container div {
        flex-basis: 100%;
    }
    .main-nav ul>li {
        padding: 15px 0px;
        text-align: center;
    }
    .main-header {
        height: 100%;
    }
}