.PassParamToComponent{
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .15);
    border-radius: 5px;
}

.PassParamToComponent:hover {
    border: 1px solid #aaa;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
    cursor: pointer;
}

.input:active, .input:focus {
    outline: none;
}

.input.green{
    border: 1px solid greenyellow;
}

.input.red{
    border: 1px solid red;
}

.input.bold {
    border: 2px solid green;
}